// @tailwind base;
// @tailwind components;
// @tailwind utilities;
@import './reset';


@font-face {
  font-family: 'roboto_slabbold';
  src: url('robotoslab-bold-webfont.woff2') format('woff2'),
       url('robotoslab-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

html, body {
  width:100%;
  height:100%;
  background: black;
  font-family: 'roboto_slabbold';
}

#main {
  display:block;
  width: 100%;
  height: 100%;

}

.heading {
  position: absolute;
  font-size: 33px;
  top: 20px;
  left: 20px;
  background: #ee4957;
  color: white;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 4px 8px;
}

.social {
  position: absolute;
  bottom: 20px;
  right: 20px;

  a {
    cursor: pointer;
    text-decoration: none;
  }

  svg {
    width: 20px;
  }

  svg:first-child {
    margin-right: 10px;
  }
}
